body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.yellow {
  background-color: #f0c336;
  padding: 100vh 3vw;
}

.green {
  background-color: #315e11;
  padding: 100vh 30vw;
}

.blue {
  background-color: #295fa0;
  padding: 100vh 18vw;
}

.container {
  display: grid;
  width: 70vw;
  grid-template-columns: 70% 10% 30%;
  grid-gap: 1rem;
  margin: 50vh 0 0 18vh;
}

.konzert {
  font-size: 2.5rem;
  font-weight: bold;
}

.artists {
  font-size: 2.5rem;
  font-weight: bold;
}
