body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.yellow {
  background-color: #f0c336;
  padding: 100vh 3vw;
}

.green {
  background-color: #315e11;
  padding: 100vh 28vw;
}

.blue {
  background-color: #295fa0;
  padding: 100vh 19vw;
}

.container {
  display: grid;
  width: 70vw;
  grid-template-columns: 55% 15% 30%;
  grid-gap: 1rem;
  margin: 55vh 0 0 8vh;
}

.konzert {
  font-size: 2rem;
  font-weight: bold;
}

.artists {
  font-size: 2rem;
  font-weight: bold;
}

.smallprint {
  font-size:0.8rem;
  padding-top:0.5rem;
}